.the-whole-thing {
    padding-left: 0;
    padding-right: 0;
}

.top-of-page {
    background: -webkit-linear-gradient(-55deg, rgba(0, 0, 0, 0), rgb(60,136,255) 55%), url("../images/train-header.jpg");
    padding-bottom: 200px;
}

.text-thing {
    float:right;
    margin-right:100px;
    padding: 0px 50px;
    text-align:right;
    background-color:white;
    max-width: 600px;
}

.card-header, .btn-primary {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

.card {
    border-radius: 0;
}